<div class="row">
    <div class="col-lg-3">
        <p>Make Your Reservation</p>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-3">
        <mat-form-field>
            <input matInput  placeholder="First Name" value="">
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Last Name" value="">
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Phone Number" value="">
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Email Address" value="">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>